{% extends 'base.html.twig' %}

{%  block title %} finSym {% endblock %}

{% block body %}
    {% if expenses %}
        <table id="expenses" class="table table-striped">
            <thead>
                <tr>
                    <th>Expense title</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td> {{ expense.title }}</td>
                        <td>
                            <a href="/expense/{{ expense.id }}" class="btn btn-dark">Show</a>
                            <a href="/expense/edit/{{ expense.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="
                            {{ expense.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No expenses to display</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}